#tableSpace{
    width: 80%;
    float: left;
    height: 700px;
    overflow: scroll;
}

#numberingBar{
    width: 7%;
    float: left;
    height: 700px;

}

#eventBar{
    width: 13%;
    float: left;
    height: 700px;

}

.dayColumn{
    width: 12.5%;
    float: left;
}

.timeSlot{
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(131, 100, 100);
}

#dateScroll{
    width: 79%;
    height: 30px;
    background-color: cadetblue;
    position: fixed;
}

#timetable{
    margin-top: 30px;
}

#timeColumn{
    background-color: gray;
}