html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
  
#sidebar, #content {
    height: 100%;
    overflow:auto;
    float:left;
}
  
#sidebar {
    /* background: #57005E; no gradient*/
    background-image: linear-gradient(purple,#57005E);
    /* background: #5B428B; other purple*/
    width: 10%;
    display: flex;
}

#content {
    background: url("images/clock background - light.png");
    /*background: url(http://66.media.tumblr.com/cca1e790be9930466b44867728a561d2/tumblr_mj3r8dQqy61qcdtsho1_1280.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
}

.parent {
    /* Contain logo and number buttons */
    /* formatting is off without this */
    width: 100%;
}

#allNumbers {
    /* centres number buttons */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#logo {
    margin: 15px 20% 15px 20%;
    display: block;
    max-width:300px;
    max-height:300px;
    width: 60%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #57005E;
    word-wrap: break-word;
    margin: 0;
}

h2 {
    /* Queen's University Faculty of Engineering */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #57005E;
    font-weight: 800em;
    text-shadow: 2px 2px 8px black;
    margin: 15px;
}

.number {
    /* Subtle grey gradient */
    background-image: radial-gradient(circle, #D8D8D8, #777777);
    /* Yellow */
    /* background: #FBEF6F;*/
    /* Grey border */
    border: 2px solid #A8A8A8;
    height: 5vw;
    width: 5vw;
    line-height: 5vw;
    margin: 15% auto 15% auto;
    text-align: center;
    border-radius: 10px;
    font-size: 2.5vw;
}
.number a {
    /* number button links */
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    color: black;
    text-decoration: none;
}
video {
    width: 100%;
    height: auto;
    border: 4px solid #A8A8A8;
}
p {
    /* Contains video */
    width: 50%;
    margin: 15px auto 15px auto;
}
#buttons {
    /* Contains bottom 2 buttons (start from scratch, import) */
    float: left;
    width: 100%;
}
.continue {
    /* bottom 2 buttons (start from scratch, import) */
    background-image: radial-gradient(circle, purple, #57005E);
    border: 2px solid purple;
    height: 60px;
    line-height: 60px;
    width: 300px;
    margin: 15px auto 15px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 0.8em;
}
.continue a {
    /* bottom button links */
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    font-size: 2em;
    color: #A8A8A8;
    text-decoration: none;